@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/open-sans-regular.woff2') format('woff2'),
    url('../fonts/open-sans-regular.woff') format('woff');
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/open-sans-600.woff2') format('woff2'),
    url('../fonts/open-sans-600.woff') format('woff');
  font-display: swap;
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/open-sans-700.woff2') format('woff2'),
    url('../fonts/open-sans-700.woff') format('woff');
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

:root {
  --active-color: #7943A4;
  --hover-color: #C283F3;
  --hover-main-color: #9D5CD0;
  --dark-color: #000;
  --light-color : #fff;
  --outline-color: #D1A9F0;
  --subtitle-color: #333;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  outline: none;
}

a {
  text-decoration: none;
  user-select: none;
}

/* header */

.header__block_top {
  background-color: var(--dark-color);
}

.container {
  max-width: 3840px;
  min-width: 1920px;
  margin: 0 auto;
  padding: 0 160px;
}

.header__content {
  display: flex;
  align-items: center;
}

.burger {
  position: relative;
  width: 36px;
  height: 28px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: 2px solid transparent;
  transition: outline .2s ease-in-out;
}

.burger__line {
  position: absolute;
  display: inline-block;
  height: 3.6px;
  background-color: var(--light-color);
  transition: background-color .2s ease-in-out;
}

.burger__line_top {
  top: 0;
  left: 0;
  width: 100%;
}

.burger__line_middle {
  top: 40%;
  left: 0;
  width: 80%;
}

.burger__line_bottom {
  bottom: 0;
  left: 0;
  width: 65%;
}

.burger:active > .burger__line {
  background-color: var(--active-color);
}

.logo {
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  outline: 2px solid transparent;
  transition: outline .2s ease-in-out;
}

.logo_style {
  min-width: 173px;
  height: 40px;
  margin-top: 30px;
  margin-right: 11.3%;
  margin-bottom: 30px;
}

.logo:focus {
  outline: 2px solid var(--active-color);
}

.header__group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  min-width: 1246px;
}

.nav__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__list_top > .nav__item:not(:last-child) {
  margin-right: 11.9%;
}

.nav__link {
  font-weight: 600;
  font-size: 18px;
  color: var(--light-color);
  outline: 2px solid transparent;
  transition-property: color, outline;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
}

.header__svg {
  position: absolute;
  transform: translate(-73px, 3px);
}

.header__svg > path {
  transition: fill .2s ease-in-out;
}

.header__login {
  padding-left: 26px;
  font-weight: normal;
  font-size: 18px;
  color: var(--light-color);
  background-color: transparent;
  border-color: transparent;
  outline: 2px solid transparent;
  transition-property: background-color, color, border-color, outline;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
}

.nav__link:focus,
.header__login:focus,
.burger:focus {
  outline: 2px solid var(--active-color);
}

.nav__link:active {
  color: var(--active-color);
}

.header__block_bottom {
  position: absolute;
  z-index: +1;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.container_header-bottom {
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav_bottom {
  padding: 25px 0;
}

.nav__list_bottom > .nav__item:not(:last-child) {
  margin-right: 14.2%;
}

.nav__link_bottom {
  display: inline-block;
  padding-right: 19px;
  font-weight: normal;
}

.nav__link_bottom::after {
  content: '';
  position: absolute;
  top: 31px;
  margin-left: 5px;
  width: 6px;
  height: 6px;
  border-right: 1px solid var(--light-color);
  border-bottom: 1px solid var(--light-color);
  transform: rotate(45deg);
  transition: border-color .2s ease-in-out;
}

.nav__link_bottom-open::after {
  border-right: none;
  border-bottom: none;
  border-left: 1px solid var(--light-color);
  border-top: 1px solid var(--light-color);
}

.dropdown {
  position: absolute;
  top: 70px;
  display: block;
  width: 300px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.6);
  visibility: hidden;
  opacity: 0;
  transition-property: visibility, opacity;
  transition-duration: .3s;
  transition-timing-function: ease-in-out;
}

.nav__link_bottom-open + .dropdown {
  visibility: visible;
  opacity: 1;
}

.dropdown__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  list-style: none;
}

.dropdown__item {
  position: relative;
  width: 100%;
}

.dropdown__item:not(:last-child) {
  margin-bottom: 20px;
}

.dropdown__link {
  display: inline-block;
  width: 100%;
  padding: 11px 14px;
  font-weight: 600;
  font-size: 14px;
  color: var(--light-color);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  outline: 2px solid transparent;
  transition: outline .2s ease-in-out;
}

.dropdown__link:active::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: +1;
  width: 100%;
  height: 100%;
  background-color: rgba(194, 131, 243, 0.4);
  outline: 2px solid var(--outline-color);
}

/* simpleBar begin */

.simplebar-track {
  margin-top: 40px;
  right: 10px;
  bottom: 40px;
}

.simplebar-scrollbar::before {
  background-color: var(--hover-main-color);
}

/* simpleBar end */

.header__form {
  margin-top: 8px;
}

.header__search {
  width: 23px;
  height: 22px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: 2px solid transparent;
  transition: outline .2s ease-in-out;
}

.header__search > svg > rect,
.header__search > svg > path {
  transition: fill .2s ease-in-out;
}

.header__search_focused > svg > rect,
.header__search_focused > svg > path {
  fill: var(--hover-color);
}

.header__input {
  position: relative;
  top: -5px;
  width: 217px;
  margin-left: 5px;
  font-weight: normal;
  font-size: 18px;
  color: var(--light-color);
  line-height: 1;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.85);
  caret-color: var(--hover-color);
  cursor: pointer;
  outline: 2px solid transparent;
  transition-property: border-color, outline;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
}

.header__input::placeholder {
  font-weight: normal;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.85);
}

.header__search:focus,
.header__input:focus {
  outline: 2px solid var(--active-color);
  border-color: var(--active-color);
}

/* hero */

.hero {
  position: relative;
  overflow: hidden;
}

.hero__back {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-image: url(../img/birmingham1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  transform-origin: center;
  animation-name: zoom;
  animation-duration: 10s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

@keyframes zoom {
  10% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
  }

  90% {
    transform: scale(1);
  }
}

/* swiper begin */

/* .swiper-container {
  width: 100%;
  height: 700px;
}

.swiper-slide {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  transform-origin: center;
  animation-name: zoom;
  animation-duration: 10s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

.swiper-slide_top {
  background-image: url(../img/birmingham1.jpg);
} */

/* .swiper-slide_middle {
  background-image: url(../img/birmingham2.jpg);
}

.swiper-slide_bottom {
  background-image: url(../img/birmingham3.jpg);
} */

/* .swiper-slide-active {
  z-index: 1;
} */

/* swiper end */

.container_hero {
  padding: 141px 0 122px 155px;
}

.title {
  margin: 0;
  padding-bottom: 16px;
  font-weight: 700;
  font-size: 72px;
  line-height: 84px;
  color: var(--light-color);
}

.hero__description {
  padding-bottom: 92px;
  padding-left: 5px;
  width: 35%;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: var(--light-color);
}

.container-button {
  position: relative;
  margin-left: 5px;
}

.button {
  display: inline-block;
  font-weight: 700;
  border-radius: 100px;
}

.button_hero {
  position: relative;
  z-index: 1;
  padding: 22px 32px;
  font-size: 18px;
  color: var(--light-color);
  background-color: var(--hover-main-color);
  border: 3px solid var(--hover-main-color);
  transition: border .2s ease-in-out;
}

.button_hero:focus {
  outline: none;
}

.button_hero:active {
  background-color: var(--active-color);
  border-color: var(--outline-color);
}

.container-button__outline {
  position: absolute;
  z-index: 0;
  top: -4.5px;
  left: -5px;
  width: 323px;
  height: 79px;
  display: inline-block;
  background-color: var(--light-color);
  border: 2px solid var(--hover-color);
  border-radius: 100px;
  opacity: 0;
  visibility: hidden;
  transition-property: opacity, visibility;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
}

.button_hero:focus + .container-button__outline {
  opacity: 1;
  visibility: visible;
}

/* about */

.container_about {
  padding-top: 86px;
  padding-bottom: 68px;
}

.subtitle {
  margin-bottom: 23px;
  font-weight: normal;
  font-size: 48px;
  color: var(--subtitle-color);
}

.text {
  font-weight: normal;
  font-size: 16px;
  line-height: 32px;
  color: var(--subtitle-color);
}

.text_about {
  width: 68%;
}

/* gallery */

.gallery {
  background-image: url(../img/birmingham-museums.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.container_gallery {
  display: flex;
  padding-top: 86px;
  padding-bottom: 80px;
}

.gallery__block_left {
  position: relative;
  width: 28%;
}

.subtitle_gallery {
  margin-bottom: 28px;
  color: var(--light-color);
}

.gallery__form {
  width: 90%;
}

.gallery__descr {
  margin-bottom: 15px;
  color: var(--light-color)
}

.choices__inner {
  background-color: transparent;
  border-color: var(--light-color);
  border-radius: 6px;
}

.choices__list--dropdown {
  background-color: transparent;
  border-radius: 6px;
}

.is-open .choices__inner {
  border-radius: 6px;
}

.choices__placeholder {
  opacity: 1;
}

.choices__item {
  color: var(--light-color);
}

.choices__list--dropdown .choices__item--selectable.is-highlighted {
  background-color: rgba(255, 255, 255, 0.2);
}

.choices[data-type*=select-one]:after {
  display: none;
}

.choices[data-type*=select-one]:before {
  content: '';
  position: absolute;
  top: 40%;
  right: 15px;
  width: 6px;
  height: 6px;
  border-right: 1px solid var(--light-color);
  border-bottom: 1px solid var(--light-color);
  transform: rotate(45deg);
}

.choices[data-type*=select-one].is-open:after {
  display: none;
}

.choices[data-type*=select-one].is-open:before {
  content: '';
  position: absolute;
  top: 50%;
  right: 15px;
  width: 6px;
  height: 6px;
  border-right: none;
  border-bottom: none;
  border-left: 1px solid var(--light-color);
  border-top: 1px solid var(--light-color);
  transform: rotate(45deg);
}

.text_gallery {
  position: absolute;
  bottom: -10px;
  width: 90%;
  color: var(--light-color);
  font-weight: 600;
}

.gallery__block_right {
  width: 72%;
  height: 828px;
}

.swiper-gallery {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.swiper-wrapper {
  order: 2;
}

.swiper-slide {
  height: 350px;
}

.gallery__container {
  position: relative;
  width: 350px;
  height: 100%;
  cursor: pointer;
}

.gallery__container::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: transparent;
  border: 2px solid transparent;
  opacity: 0;
  transition-property: background-color border-color opacity;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
}

.gallery__container:active::before {
  background-color: rgba(194, 131, 243, 0.4);
  border-color: var(--outline-color);
  opacity: 1;
  transition-property: background-color border-color opacity;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
}

.gallery__picture {
  width: 100%;
  height: 100%;
}

.swiper-nav {
  display: flex;
  align-items: center;
  order: 1;
  padding: 20px 6px 30px 6px;
}

.gallery__button {
  position: static;
  width: 30px;
  height: 30px;
  margin: 0;
  background-color: #666;
  border: 2px solid #666;
  border-radius: 50%;
  transition-property: background-color, border-color;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;
}

.gallery__button:focus {
  border-color: var(--dark-color);
}

.gallery__button:active {
  background-color: var(--active-color);
  border-color: var(--dark-color);
}

.gallery__button_prev::after {
  content: "";
  width: 7px;
  height: 7px;
  border-top: 1px solid var(--light-color);
  border-right: 1px solid var(--light-color);
  transform: rotate(-135deg);
}

.gallery__button_next::after {
  content: "";
  width: 7px;
  height: 7px;
  border-top: 1px solid var(--light-color);
  border-right: 1px solid var(--light-color);
  transform: rotate(45deg);
}

.gallery__pagination {
  position: static;
  width: auto;
  margin: 0 18px;
  color: var(--light-color);
}

@media (min-width: 1920px) {
  .burger {
    display: none;
  }
  .close {
    display: none;
  }
  .nav__link:hover,
  .header__login:hover {
    color: var(--hover-color);
  }
  .nav__link:active {
    color: var(--active-color);
  }
  .header__login:hover + .header__svg > path {
    fill: var(--hover-color);
  }
  .header__login:active {
    color: var(--hover-main-color);
  }
  .header__login:active + .header__svg > path {
    fill: var(--hover-main-color);
  }
  .nav__link_bottom:hover {
    color: var(--hover-main-color);
  }
  .nav__link_bottom:hover::after {
    border-color: var(--hover-main-color);
  }
  .nav__link_bottom:active {
    color: var(--active-color);
  }
  .nav__link_bottom:active::after {
    border-color: var(--active-color);
  }
  .dropdown__link:hover {
    outline-color: var(--hover-main-color);
  }
  .header__form:hover > .header__input {
    border-bottom-color: var(--hover-color);
  }
  .button_hero:hover {
    color: var(--light-color);
    padding: 22px 32px;
    border: 3px solid var(--outline-color);
  }
  .gallery__container::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 7%;
    background-color: transparent;
    background-image: url(../img/Group12.svg);
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    transition-property: background-color opacity;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
  }
  .gallery__container:hover::after {
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
    transition-property: background-color opacity;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
  }
  .gallery__container::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: transparent;
    border: 2px solid transparent;
    opacity: 0;
    transition-property: background-color border-color opacity;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
  }
  .gallery__container:active::before {
    background-color: rgba(194, 131, 243, 0.4);
    border-color: var(--outline-color);
    opacity: 1;
    transition-property: background-color border-color opacity;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
  }
  .gallery__button:hover {
    background-color: var(--hover-main-color);
  }
  .gallery__button:active {
    background-color: var(--active-color);
    border-color: var(--dark-color);
  }
}

@media (max-width: 1919px) {
  .header {
    position: relative;
  }
  .container {
    max-width: 1919px;
    min-width: 1024px;
    padding: 0 50px;
  }
  .header__content {
    padding-top: 37px;
    padding-bottom: 35px;
  }
  .logo {
    background-repeat: no-repeat;
    background-size: cover;
  }
  .logo_style {
    position: absolute;
    left: 50%;
    margin: 0;
    width: 187px;
    height: 42px;
    transform: translateX(-50%);
  }
  .header__group {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 4;
    padding: 37px 50px 51px;
    flex-direction: column;
    align-items: stretch;
    max-width: 1919px;
    min-width: 1024px;
    height: 768px;
    background-color: rgba(0, 0, 0, 0.9);
    opacity: 0;
    visibility: hidden;
    transform: translateX(-50%);
  }
  .header__group_open {
    opacity: 1;
    visibility: visible;
  }
  .close {
    display: block;
    margin-bottom: 52px;
  }
  .close__link {
    position: relative;
    display: inline-block;
    width: 29px;
    height: 29px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: 2px solid transparent;
    transition: outline .2s ease-in-out;
  }
  .close__link:focus {
    outline: 2px solid var(--active-color);
  }
  .close__line {
    position: absolute;
    top: 12px;
    left: -4px;
    display: inline-block;
    width: 37px;
    height: 3.7px;
    background-color: var(--light-color);
    transition: background-color .2s ease-in-out;
  }
  .close__line_left {
    transform: rotate(45deg);
  }
  .close__line_rigth {
    transform: rotate(-45deg);
  }
  .close__link:active > .close__line {
    background-color: var(--active-color);
  }
  .nav_top {
    margin-left: -2px;
  }
  .nav__list_top {
    flex-direction: column;
  }
  .nav__list_top > .nav__item:not(:last-child) {
    margin-bottom: 37px;
  }
  .nav__list_top > .nav__item:last-child {
    margin-bottom: 152px;
  }
  .nav__link {
    font-size: 24px;
  }
  .header__box {
    margin-left: 0;
  }
  .header__login {
    padding: 16px 92px 16px 107px;
    border: 2px solid var(--hover-main-color);
    border-radius: 100px;
    outline: none;
  }
  .header__login:focus {
    outline: none;
  }
  .header__login:active {
    background-color: var(--active-color);
    border-color: var(--outline-color);
  }
  .header__svg {
    top: 2px;
    left: -173px;
  }
  .header__outline {
    position: absolute;
    z-index: -1;
    top: 673px;
    left: 46px;
    width: 265px;
    height: 68px;
    display: inline-block;
    background-color: transparent;
    border: 2px solid var(--hover-color);
    border-radius: 100px;
    opacity: 0;
    visibility: hidden;
    transition-property: opacity, visibility;
    transition-duration: .2s;
    transition-timing-function: ease-in-out;
  }
  .header__login:focus ~ .header__outline {
    opacity: 1;
    visibility: visible;
  }
  .header__block_bottom {
    position: static;
    width: auto;
    background: none;
  }
  .container_header-bottom {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    max-width: 418px;
    min-width: 418px;
    background: none;
    transform: none;
  }
  .nav_bottom {
    display: none;
  }
  .header__form {
    margin-top: 36px;
    margin-right: 0;
    margin-left: auto;
  }
  .header__form_open {
    background-color: #18171B;
  }
  .header__search {
    width: 30px;
    height: 29px;
  }
  .header__search > svg {
    width: 100%;
    height: 100%;
  }
  .header__input {
    display: none;
  }
  .header__input_open {
    display: inline-block;
  }
  .close_search {
    display: none;
  }
  /* .swiper-container {
    height: 667px;
  } */
  .hero__back {
    background-image: url(../img/birmingham1-1024.jpg);
  }
  /* .swiper-slide_middle {
    background-image: url(../img/birmingham2-1024.jpg);
  }
  .swiper-slide_bottom {
    background-image: url(../img/birmingham3-1024.jpg);
  } */
  .container_hero {
    padding: 113px 0 114px 44px;
  }
  .title {
    padding-bottom: 11px;
  }
  .hero__description {
    padding-bottom: 133px;
    width: 75%;
  }
  .container_about {
    padding-top: 86px;
    padding-bottom: 70px;
  }
  .subtitle {
    margin-bottom: 21px;
  }
  .text_about {
    width: 99%;
  }
  .gallery {
    background-image: url(../img/birmingham-museums1024.jpg);
  }
  .container_gallery {
    padding-top: 84px;
    padding-bottom: 80px;
  }
  .gallery__block_left {
    width: 36%;
  }
  .subtitle_gallery {
    margin-bottom: 27px;
  }
  .gallery__form {
    width: 84%;
  }
  .text_gallery {
    bottom: -10px;
    width: 85%;
  }
  .gallery__block_right {
    width: 64%;
    height: 674px;
  }
  .swiper-slide {
    height: 280px;
  }
  .gallery__container {
    width: 280px;
  }
  .swiper-nav {
    padding-left: 0;
  }
}

@media (max-width: 1023px) {
  .container {
    max-width: 1023px;
    min-width: 768px;
  }
  .header__group {
    max-width: 1023px;
    min-width: 768px;
  }
  .close {
    margin-bottom: 47px;
  }
  .nav__list_top > .nav__item:last-child {
    margin-bottom: 150px;
  }
  .header__login {
    font-weight: 600;
  }
  .header__svg {
    left: -175px;
  }
  .header__outline {
    left: 47px;
  }
  .container_header-bottom {
    width: 100%;
    max-width: 130px;
    min-width: 130px;
  }
  .container_header-bottom-open {
    max-width: 1023px;
    min-width: 768px;
    background-color: var(--dark-color);
  }
  .header__form {
    margin-left: 0;
  }
  .header__input_open {
    position: relative;
    top: -6px;
    width: 577px;
  }
  .close_search {
    margin-top: 30px;
    margin-bottom: 0;
  }
  .close_open {
    display: inline-block;
  }
  .hero__back {
    background-image: url(../img/birmingham1-768.jpg);
  }
  /* .swiper-slide_middle {
    background-image: url(../img/birmingham2-768.jpg);
  }
  .swiper-slide_bottom {
    background-image: url(../img/birmingham3-768.jpg);
  } */
  .hero__description {
    width: 100%;
  }
  .container_about {
    padding-top: 85px;
    padding-bottom: 70px;
  }
  .gallery {
    background-image: url(../img/birmingham-museums768.jpg);
    background-position: center;
  }
  .container_gallery {
    padding-bottom: 163px;
    flex-direction: column;
  }
  .gallery__block_left {
    width: 100%;
    padding-bottom: 88px;
  }
  .gallery__form {
    width: 42%;
  }
  .text_gallery {
    bottom: -767px;
    width: 100%;
  }
  .gallery__block_right {
    width: 100%;
  }
  .gallery__container {
    width: 317px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 767px;
    min-width: 320px;
    padding: 0 15px;
  }
  .header__content {
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .burger {
    width: 20px;
    height: 15px;
  }
  .burger__line {
    height: 2px;
  }
  .logo_style {
    width: 100%;
    max-width: 97px;
    min-width: 97px;
    height: 21.67px;
  }
  .header__group {
    padding: 15px 15px 27px;
    max-width: 767px;
    min-width: 320px;
    height: 355px;
  }
  .close_menu {
    margin-bottom: 13px;
  }
  .close__link {
    top: -8px;
    width: 15px;
    height: 15px;
  }
  .close__line {
    top: 7px;
    left: -1px;
    width: 19.2px;
    height: 1.9px;
  }
  .nav_top {
    margin-left: 0px;
  }
  .nav__list_top > .nav__item:not(:last-child) {
    margin-bottom: 14px;
  }
  .nav__list_top > .nav__item:last-child {
    margin-bottom: 34px;
  }
  .nav__link {
    font-size: 16px;
  }
  .header__login {
    padding: 9px 29px 10px 44px;
    font-size: 12px;
  }
  .header__svg {
    top: 1px;
    left: -87px;
    width: 9px;
    height: 9px;
  }
  .header__outline {
    top: 297.5px;
    left: 11.5px;
    width: 121px;
    height: 46px;
  }
  .container_header-bottom {
    max-width: 46px;
    min-width: 46px;
  }
  .container_header-bottom-open {
    left: 50%;
    padding-top: 22px;
    padding-bottom: 12px;
    max-width: 767px;
    min-width: 320px;
    background: rgba(0, 0, 0, 0.4);
    -webkit-backdrop-filter: blur(40px);
    backdrop-filter: blur(40px);
    transform: translateX(-50%);
  }
  .header__form {
    margin-top: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .header__search {
    width: 16px;
    height: 16px;
  }
  .header__input_open {
    margin-left: -2px;
    width: 180px;
  }
  .close_search {
    margin-top: -38px;
  }
  /* .swiper-container {
    height: 310px;
  } */
  .hero__back {
    background-image: url(../img/birmingham1-320.jpg);
  }
  /* .swiper-slide_middle {
    background-image: url(../img/birmingham2-320.jpg);
  }
  .swiper-slide_bottom {
    background-image: url(../img/birmingham3-320.jpg);
  } */
  .container_hero {
    padding: 32px 0 46px 0px;
  }
  .title {
    padding-bottom: 13px;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
  }
  .hero__description {
    padding-left: 25px;
    padding-bottom: 41px;
    width: 93%;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
  }
  .container-button {
    text-align: center;
    margin-left: 0;
  }
  .button_hero {
    padding: 10px 15px 10px 17px;
    font-size: 12px;
  }
  .container-button__outline {
    width: 210px;
    height: 48px;
  }
  .container_about {
    padding: 53px 13px 41px 14px;
  }
  .subtitle {
    margin-bottom: 15px;
    font-size: 28px;
  }
  .text {
    font-size: 14px;
    line-height: 28px;
  }
  .text_about {
    margin-left: 1px;
  }
  .gallery {
    background-image: url(../img/birmingham-museums320.jpg);
  }
  .container_gallery {
    padding-top: 54px;
    padding-bottom: 220px;
  }
  .subtitle_gallery {
    margin-bottom: 22px;
  }
  .gallery__form {
    position: relative;
    z-index: +2;
    width: 100%;
  }
  .text_gallery {
    bottom: -620px;
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
  }
  .gallery__block_right {
    height: 470px;
  }
  .swiper-wrapper {
    order: 1;
    padding-top: 23px;
  }
  .swiper-slide {
    height: 367px;
  }
  .gallery__container {
    width: 290px;
    margin: 0 auto;
  }
  .swiper-nav {
    justify-content: center;
    order: 2;
  }
  .gallery__pagination {
    margin: 0 16px;
  }
}
